.stile{
    max-resolution: auto;
    margin-left: 120px;
    margin-right: 120px;
}

#logo {
    width: 100px;
    vertical-align: middle;
}
#logo-container{
    line-height: 100px;
    font-size: 35px;
    font-weight: bold;
}
#sfondo{
    background-color: #b1b6b6;
    padding: 2%;

}
#tasti
{
    height: 40px;
    background-color: #cecece;
    margin-left: 55px;
    margin-right: 55px;
    padding: 1%;
    margin-top: 30px;
    
}
#sfondo2{
    background-color: #ffffffde;
    margin-left: 5%;
    margin-right: 5%
     ;
}
#pulsante{
    
    border-radius: 8px;
    outline: none;
    text-align: center;
    text-decoration: none;
    font: bold 12px Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 7px 15px;
    border: solid 1px #0076a3;
    background: #0095cd;
    
}
#pulsante2{
   
    border-radius: 8px;
    outline: none;
    text-align: center;
    text-decoration: none;
    font: bold 12px Arial, Helvetica, sans-serif;
    color: rgb(223, 219, 219);
    padding: 7px 15px;
    border: solid 1px #898b8b;
    background: #ffffff;
}

.badge{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: rgb(64, 255, 26);
    background-color: #fff;
}

.check{
    color: green;
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
    
}
.cross{
    color: rgb(252, 5, 5);
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
    
}
.button-pt2{
    border-radius: 4px;
    padding: 6px 18px;}

    .blue-button{
        background-color: rgba(69,171,234,255);
        border-radius: 15px;
    }

    .purple-button{
        background-color:#a50475;
        border-radius: 15px;
    }
    .green-button{
        background-color:#2da000;
        border-radius: 15px;
    }
    .orange-button{
        background-color:#ff810a;
        border-radius: 15px;
    }
    .pink-button{
        background-color:#ff0aca;
        border-radius: 15px;
    }
    ul {
        list-style-type: none;
        }